*{
    background-color: hsl(212, 45%, 89%);
    border-radius: 30px;
}

div{
    background-color: white;
}
#outerbox{
    /* border: 2px solid red; */
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.8);
    width: 300px;
    height: 1200px
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#qrimage{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
div > img{
    /* border: 2px solid red; */
    background-color: white;
    width: 85%;
    height: 85%;
    object-fit: cover;
    border-radius: 20px;
    padding: 2.5px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-family: "Outfit";
    /* border: 2px solid red; */
    background-color: white;
    font-size: 15px;
    color: hsl(220, 15%, 55%);;
}

p:first-child{
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

p:last-child{
    margin-top: 0px;
}